/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
}






.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: max-content;
  padding: 20px;
  border: 2px rgba(#bbd8e9, 0.03) solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  

}

.tile:hover{
  box-shadow: #6dabd0 0px 1px 8px 0px;
}